<div class="DemoList" [ngClass]="{ 'is-empty': demos.length === 0 }">
  <div class="DemoList__empty" *ngIf="demos.length === 0; else list">
    No demo available yet.
  </div>
  <ng-template #list>
    <a
      class="DemoList__item"
      *ngFor="let demo of demos; let i = index"
      [routerLink]="[demo.id_demo]"
      [ngClass]="{ 'is-odd': i % 2 === 1, 'is-even': i % 2 === 0 }"
    >
      <pnx-demo [demo]="demo"></pnx-demo>
      <span class="DemoList__cta">Détails</span>
    </a>
  </ng-template>
</div>
